apiVersion: v1
kind: Service
metadata:
  name: metallb-webhook-service
  namespace: metallb-system
spec:
  ports:
    - name: webhook-server
      port: 443
      targetPort: webhook-server
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: metallb-system-metallb
    app.kubernetes.io/name: metallb
